<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Flight Detail</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
			<nav th:replace="fragments/fragment :: navbar"></nav>
			<h3 th:text="'nomor penerbangan ' + ${penerbangan.flightNumber}"></h3>
			<h3 th:text="'origin ' +${penerbangan.origin}"></h3>
			<h3 th:text="'destination ' +${penerbangan.destination}"></h3>
			<h3 th:text="'time ' +${penerbangan.time}"></h3>	</body>
</html>