<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3 th:text="'license number : ' + ${pilot.licenseNumber}"></h3>
		<h3 th:text="'pilot name : ' +${pilot.name}"></h3>
		<h3 th:text="'fly hour : ' +${pilot.flyHour}"></h3>
		<h3 th:if="${pilot.flyHour} >= 100">Status: Pilot Senior</h3>
		<h3 th:unless="${pilot.flyHour} >= 100">Status: Pilot Junior</h3>
		<form th:action="@{/pilot/update/} + ${pilot.licenseNumber}">
			<button type="submit">Update Pilot</button>
		</form>
		<form th:action="@{/pilot/delete/} + ${pilot.licenseNumber}">
			<button type="submit">Delete Pilot</button>
		</form>
		<td><a th:href="@{|/flight/add/${pilot.licenseNumber}|}">Add Flight</a></td>
		
		<h3>List penerbangan :</h3>
		<div th:each="penerbangan : ${flightPilot}">
			<h3 th:text="'nomor penerbangan ' + ${penerbangan.flightNumber}"></h3>
			<h3 th:text="'origin ' +${penerbangan.origin}"></h3>
			<h3 th:text="'destination ' +${penerbangan.destination}"></h3>
			<h3 th:text="'time ' +${penerbangan.time}"></h3>
			<td><a th:href="@{|/flight/update/${pilot.licenseNumber}/${penerbangan.flightNumber}|}">Update Flight</a></td>
			<td><a th:href="@{|/flight/delete/${penerbangan.flightNumber}|}">Delete Flight</a></td>
		</div>
	</body>
</html>