<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar('View Pilot')"></nav>
		<h3 th:text="'license number : ' + ${pilot.licenseNumber}"></h3>
		<h3 th:text="'pilot name : ' +${pilot.name}"></h3>
		<h3 th:text="'fly hour : ' +${pilot.flyHour}"></h3>
		<h3 th:if="${pilot.flyHour} >= 100">Status: Pilot Senior</h3>
		<h3 th:unless="${pilot.flyHour} >= 100">Status: Pilot Junior</h3>
		<form th:action="@{/pilot/update/} + ${pilot.id}">
			<button type="submit">Update Pilot</button>
		</form>
		<form th:action="@{/pilot/delete/} + ${pilot.id}">
			<button type="submit">Delete Pilot</button>
		</form>
		<form th:action="@{/flight/delete}" th:object="${pilot}" method="POST">
			<table border="I">
				<caption>Flights</caption>
				<thead>
					<tr>
						<th style="text-align: center">No.</th>
						<th style="text-align: center">Flight Number</th>
						<th style="text-align: center">Origin</th>
						<th style="text-align: center">Destination</th>
						<th style="text-align: center">Time</th>
						<th style="text-align: center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flight,iterationStatus : *{pilotFlight}">
						<td th:text="${iterationStatus.count}"></td>
						<td th:text="${flight.flightNumber}"></td>
						<td th:text="${flight.origin}"></td>
						<td th:text="${flight.destination}"></td>
						<td th:text="${flight.time}"></td>
						<td>
							<input type="checkbox" th:field="*{pilotFlight}" th:value="${flight.id}"/>
							<label th:for="${#ids.prev('pilotFlight')}">Hapus</label>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="submit">Delete Selected Flight</button>
		</form>
		<br>
		<form th:action="@{/flight/add/} + ${pilot.licenseNumber}">
			<button type="submit">Add Flight</button>
		</form>
	</body>
</html>