<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
</head>

<body>
	<h2>Hello!</h2>
	
	<h3>Tambah Pilot</h3>
	<td><a th:href="@{/pilot/add}">Tambah</a></td>
	
	<h3>Cari pilot berdasarkan Nomor lisensi</h3>
	<form th:action="@{/pilot/view/}" method="GET">
		<input type="text" name="licenseNumber"/>
		<button type="submit">Cari</button>	
	</form>
	
	<h3>Cari penerbangan berdasarkan Nomor penerbangan</h3>
	<form th:action="@{/flight/view/}" method="GET">
		<input type="text" name="flightNumber"/>
		<button type="submit">Cari</button>	
	</form>
</body>

</html>