<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Flight</title>
</head>

<body>
	<h3>Update Flight</h3>
	
	<form th:action="@{/flight/update}" th:object="${flight}" method = "POST">
		<input type="hidden" th:field="*{pilot}"/>
		<input type="hidden" th:field="*{flightNumber}"/>
		Origin: <br>
		<input type="text" name="origin" />
		<br>
		
		Destination: <br>
		<input type="text" name="destination"/>
		<br>
		
		Time: <br>
		<input type="date" name="time" />
		<br><br>
		<button type="submit">Submit</button>
	</form>
	
	
</body>
</html>