<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
	</head>
	<body>
		<h3 th:text="'license number : ' + ${LicenseNumber}"></h3>
		<h3 th:text="'pilot name : ' +${Name}"></h3>
		<h3 th:text="'fly hour : ' +${FlyHour}"></h3>
		<td><a th:href="@{|/flight/add/${LicenseNumber}|}">Add Flight</a></td>
		<td><a th:href="@{|/pilot/update/${LicenseNumber}|}">Update Pilot</a></td>
		
		<h3>List penerbangan</h3>
		<div th:each="penerbangan : ${flightPilot}">
			<h3 th:text="'nomor penerbangan ' + ${penerbangan.flightNumber}"></h3>
			<h3 th:text="'origin ' +${penerbangan.origin}"></h3>
			<h3 th:text="'destination ' +${penerbangan.destination}"></h3>
			<h3 th:text="'time ' +${penerbangan.time}"></h3>
		</div>
	</body>
</html>